/* Google font import for Unna and Manrope fonts */
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Unna:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* CSS Variables */
:root {
    --primary-font: "Unna", serif;
    --secondary-font: "Manrope", sans-serif;
    --primary-color: #310431; /* dark purple */
    --secondary-color: #847996; /* light purple */
    --tertiary-color: #1a6e4f; /* dark green */
    --highlight-color: #88B7B5; /* pale blue */
    --highlight-color-light: #a7cab1; /* pale green */
    --highlight-color-lightest: white;
     /* #f4ecd6;  lightest beige */
}

/* Global styles*/

h1, h2, h3, h4, h5, h6 {
    font-family: 'Unna', serif;
    color: var(--highlight-color-lightest); 
}

p {
    font-family: 'Manrope', sans-serif;
    color: var(--highlight-color-lightest);
    
}

body {
    background-color: var(--secondary-color);
    padding-top: 40px; /* Adjusted for fixed navbar */
}
section {
    padding-top: 4rem; /* Stops navbar from overlapping headings */
}

a {
    color: var(--highlight-color-lightest);
}

.shade {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    background-color: rgba(0, 0, 0, 0.3);
    padding: 20px;
    border-radius: 8px;
    color: var(--highlight-color-lightest);
    text-align: center;
}

/* Navbar styles */

.navbar {
    background-color: var(--tertiary-color);
}

.navbar-brand,
.nav-link {
    color: var(--highlight-color-lightest);
}

.navbar-toggler {
    border-color: var(--highlight-color-lightest);
}

.navbar-collapse {
    background-color: var(--tertiary-color);
}

/* Hero section styles */

.hero {
    background-image: url("../images/background_small.webp");
    background-color: #a7cab1; /* pale green */
    padding: 7% 7%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 2% auto;  
    max-width: 1000px;
   
}

.hero-intro {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    background-color: rgba(0, 0, 0, 0.3);
    padding: 20px;
    border-radius: 8px;
    color: var(--highlight-color-lightest);
    text-align: center;
}

/* signs to watch for section styles */

.signs-to-watch .card {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.signs-to-watch .card-body {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.signs-to-watch .accordion {
    margin-top: auto;
}

.signs-to-watch p {
    color: var(--tertiary-color);
}

.signs-to-watch h3, h5 {
    color: var(--tertiary-color);
}

.signs-to-watch li {
    color: var(--tertiary-color);
    font-family: 'Manrope', sans-serif;
}




/*
.signs-to-watch .accordion-button {
    color: var(--tertiary-color);
    background-color: var(--highlight-color-lightest); 
}*/


.signs-to-watch .indicators-intro {
     color: var(--highlight-color-lightest);
}

ol {
    color: var(--highlight-color-lightest);
}


/* Contact us styles */

.contact-us { 
   padding: 12px;
}

.custom-button {
    background-color: var(--tertiary-color);
    color: var(--highlight-color-lightest);
    border: none;
}

.custom-button:hover {
    background-color: var(--highlight-color);
    color: var(--primary-color);
    border: none;
}

.form-label, .form-check-label {
    color: var(--highlight-color-lightest)
}



/* Footer styles */

footer {
    background-color: var(--tertiary-color);
}

.fa-brands {
    min-width: 50px;
}

/* Media queries */

/* Meduim devices (tablets, 768px and up) */
@media  screen and (min-width: 768px) {
    #signs .card-body {
        min-height: 358.75px;
    }

    #signs .line2 {
        min-height: 476.48px;
    }

    img {
        max-width: 700px;
        height: auto;
    }

    .hero {
        background-image: url("../images/background_medium.webp");
    }
}

/* Extra large devices (screens 1200px and up)*/
@media screen and (min-width: 1200px) {
    .hero {
        background-image: url("../images/background_large.png");
    }
}

/* Extra extra large desktops (1400px and up) */
@media screen and (min-width: 1400px) {
    #signs .card-body {
        min-height: 537.2px;
    }
}